@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
    width: min(90%, 55rem);
    margin: 4.8rem auto;
}

.form__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    gap: 1.6rem;

    label {
        font-weight: v.$bold;
    }

    input{
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: .8rem;

        &:disabled {
            background-color: v.$gray;
            cursor: not-allowed;
        }
    }
}