@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;



.tabs {

    @include m.tablet {
        display: flex;
        gap: .4rem;
    }

    button {
        background-color: v.$blue;
        padding: 1.2rem 1.6rem;
        display: inline-block;
        width: 100%;
        margin-bottom: 1.6rem;
        font-weight: v.$bold;
        color: v.$white;
        border-radius: .8rem;
        transition: background-color .3s ease;

        &:hover {
            background-color: color.adjust(v.$blue, $lightness: -12%);
        }

        &.active {
            background-color: v.$white;
            color: v.$blue;
        }
    }
}