@use 'sass:color';
@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$black;
    color: v.$white;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;

    @include m.tablet{
        height: 100%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 6px;               /* ancho de toda la barra de desplazamiento */
}

*::-webkit-scrollbar-track {
  background: v.$blue;        /* color de la barra */
}

*::-webkit-scrollbar-thumb {
  background-color: color.adjust(v.$blue, $lightness: 20%);   
  border-radius: 50px;       
  border: 3px solid color.adjust(v.$blue, $lightness: 20%);  
}
    
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

// popup sweet alert
div:where(.swal2-container).swal2-center>.swal2-popup  {
    width: min(90%, 450px);
    padding: 2.4rem 0;
}

div:where(.swal2-html-container) {
    font-size: 1.6rem !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    font-size: 1.6rem !important;
    padding: 1.6rem 2.4rem !important;
}