@use 'variables' as v;

h1, h2, h3 {
    font-family: v.$fuente_principal;
    margin: 0 0 calc(v.$separacion / 2) 0 ;
    font-weight: 900;
    color: v.$white;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
p {
    color: v.$white;
    font-size: 2rem;
}

.page__title{
    margin: 4.8rem 0;
    text-align: center;
}

.page__text{
    text-align: center;
}