// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #0e3efd;
$red: #8C1F1F;
$green: #1A5502;
$black: #191b1a;

$white: #FFFFFF;
$gray: #e1e1e1;

$separacion: 4.8rem;

// Fuentes
$light: 300;
$regular : 400;
$bold: 700;
$extra_bold: 900