@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav-usuario{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    padding: 3.2rem .8rem;
    margin: 2.4rem 0;
    
    h2 {
        font-size: 2.4rem;
        font-weight: v.$regular;
        margin: 0;
    }

    a {
        display: flex;
        align-items: center;
        gap: .6rem;
        background-color: color.adjust(v.$red, $lightness: -12%);
        padding: .8rem 1.6rem;
        border-radius: 1.6rem;
        color: white;
        transition: background-color .3s ease-in;

        svg {
            width: 2.8rem;
        }

        &:hover {
            background-color: color.adjust(v.$red, $lightness: 5%);
        }
    }
}

.seccion {
    padding: 4.8rem 0;
    display: none;

    &.show{
        display: block;
    }

    &.hidden{
        display: none;
    }
}