@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-resumen {
    p {
        margin-bottom: 1rem;
    }

    span {
        color: color.adjust(v.$blue, $lightness: 20%);
        font-weight: v.$bold;
        font-size: 2.4rem;
    }

    h3 {
        margin-top: 5.6rem;
        margin-bottom: 0;
    }

    .button {
        background-color: color.adjust(v.$blue, $lightness: -12%);
        padding: 1.2rem 1.6rem;
        display: inline-block;
        width: 100%;
        margin-top: 3.2rem;
        font-weight: 700;
        color: #fff;
        border-radius: .8rem;
        transition: background-color .3s ease;

        &:hover {
            background-color: color.adjust(v.$blue, $lightness: 2%);
        }
    }
}

.container-servicio {
    padding: 2.4rem 0;
    border-bottom: 1px solid v.$gray;
}